Oppaftersave
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Date_Action_1</name>
        <label>Calculate Date</label>
        <locationX>1458</locationX>
        <locationY>1656</locationY>
        <actionName>MC_CalculateBusinessDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Records_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minutes</name>
            <value>
                <elementReference>Businessdays</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MC_CalculateBusinessDate</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Businessdaysoutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_3business_days</name>
        <label>Email-3business days</label>
        <locationX>4978</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>owa.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectImage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_for_CHSP</name>
        <label>Email for CHSP</label>
        <locationX>1832</locationX>
        <locationY>1788</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Email.Address</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>CombinedCollectionIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_for_HACC</name>
        <label>Email for HACC</label>
        <locationX>1568</locationX>
        <locationY>1788</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Email.Address</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template_2.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>CombinedCollectionIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_LeagalAndAR_Members</name>
        <label>Email_to_LeagalAndAR_Members</label>
        <locationX>50</locationX>
        <locationY>2388</locationY>
        <actionName>Opportunity.MC_Email_LegalAndAR_PublicGroup_UnderOffer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.MC_Email_LegalAndAR_PublicGroup_UnderOffer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>HC_Notification_to_Queue_Member</name>
        <label>HC Notification to Queue Member</label>
        <locationX>2690</locationX>
        <locationY>4824</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <faultConnector>
            <targetReference>Notification_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>HC_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>HCGroupMemberId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>HC_TaskTitleSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>HC_TaskBodyDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_the_Team</name>
        <label>Notification to the Team</label>
        <locationX>50</locationX>
        <locationY>2280</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_to_LeagalAndAR_Members</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LegalAndARMemberIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notificationSub</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyforNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>R1DEV-158</description>
        <name>Send_Email_ToVillageManager</name>
        <label>Send Email To Village Manager</label>
        <locationX>1458</locationX>
        <locationY>4068</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_For_AH_RL_and_Buy_Back_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Accommodation__r.maica_cc__Location__r.Manager_Name__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Org_Wide_Add.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectOfEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyForVillageManagerClosedWonOpp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Opportunity_Owner_Change</name>
        <label>Send Opportunity Owner Change</label>
        <locationX>1920</locationX>
        <locationY>1440</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_for_Under_Offer_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Copy_1_of_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIdOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Opportunity transferred to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>OwnerChangeMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_to_AH_Client</name>
        <label>Send to AH Client</label>
        <locationX>1106</locationX>
        <locationY>3360</locationY>
        <actionName>Opportunity.MC_AlongWelcomeAlert_AH</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_User_Created_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.MC_AlongWelcomeAlert_AH</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_to_RL_Client</name>
        <label>Send to RL Client</label>
        <locationX>842</locationX>
        <locationY>3360</locationY>
        <actionName>Opportunity.MC_AlongWelcomeAlert_RL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_User_Created_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.MC_AlongWelcomeAlert_RL</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Service_Agreement_Closed_Mail</name>
        <label>Service Agreement Closed Mail</label>
        <locationX>2536</locationX>
        <locationY>5880</locationY>
        <actionName>maica_cc__Service_Agreement__c.MC_Service_agreement_Closed_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SARecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>maica_cc__Service_Agreement__c.MC_Service_agreement_Closed_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Team_Ids_to_List</name>
        <label>Add Team Ids to List</label>
        <locationX>270</locationX>
        <locationY>1872</locationY>
        <assignmentItems>
            <assignToReference>LegalAndARMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Legal_and_AR_Member_Loop.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Legal_and_AR_Member_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_User</name>
        <label>Assign Account to User</label>
        <locationX>2800</locationX>
        <locationY>3576</locationY>
        <assignmentItems>
            <assignToReference>varAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_resource_record.maica_cc__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Collection_Variable_Email_Template</name>
        <label>Assign Collection Variable Email Template</label>
        <locationX>1832</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>CombinedCollectionIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CP_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CombinedCollectionIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SA_Documents.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_emailAdress</name>
        <label>assign emailAdress</label>
        <locationX>4978</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>emailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_get_Enhanced_letterhead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_Id_to_Variable</name>
        <label>Assign Owner Id to Variable</label>
        <locationX>1920</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>OwnerIdOpportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Opportunity_Owner_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuetoVariable</name>
        <label>AssignValuetoVariable</label>
        <locationX>2140</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>AllOpportunityFundingTypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommaSeperatedOpportunityFundingTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughEachOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HC_Add_team_Ids_to_list</name>
        <label>HC Add team Ids to list</label>
        <locationX>3086</locationX>
        <locationY>4500</locationY>
        <assignmentItems>
            <assignToReference>HCGroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_HC_Queue_members_are_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_End_Date_Of_SA</name>
        <label>Update End Date Of SA</label>
        <locationX>2536</locationX>
        <locationY>5664</locationY>
        <assignmentItems>
            <assignToReference>SARecord.maica_cc__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowRunningDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Agreement</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_error_for_account</name>
        <label>Custom error for account</label>
        <locationX>4186</locationX>
        <locationY>1116</locationY>
        <customErrorMessages>
            <errorMessage>Please fix the error on Account - 
{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>1546</locationX>
        <locationY>3252</locationY>
        <customErrorMessages>
            <errorMessage>Unable to create Customer portal user. Please contact system administrator with following error message.  {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>HC_Error</name>
        <label>HC_Error</label>
        <locationX>3086</locationX>
        <locationY>2820</locationY>
        <customErrorMessages>
            <errorMessage>Unable to create Customer portal user. Please contact system administrator with following error message.  {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Account_Is_Portal_User</name>
        <label>Account_Is_Portal_User</label>
        <locationX>1458</locationX>
        <locationY>1872</locationY>
        <defaultConnector>
            <targetReference>Update_Account_with_Form_Filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Already_Portal_User</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>noemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_of_Household_Account</targetReference>
            </connector>
            <label>Not_Already_Portal_User</label>
        </rules>
    </decisions>
    <decisions>
        <name>BuyBackOrNot</name>
        <label>BuyBackOrNot</label>
        <locationX>1986</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Check_For_AH_RL_and_Buy_Back_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BuyBack</defaultConnectorLabel>
        <rules>
            <name>NotBuyBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buy_Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buy_Back_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__r.maica_cc__Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Last_Notification_sent</targetReference>
            </connector>
            <label>NotBuyBack</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Closed</name>
        <label>check Closed</label>
        <locationX>9004</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Affordable Housing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_occupancy_of_accommodation</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_AH_Opp_and_Waitlist_Status</name>
        <label>Check For AH Opp and Waitlist Status</label>
        <locationX>5902</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AH_with_Req_Waitlist_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Record_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Affordable Housing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waitlist_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AH_Opp_to_No_response</targetReference>
            </connector>
            <label>AH with Req Waitlist Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_AH_RL_and_Buy_Back_Opportunity</name>
        <label>Check For AH RL and Buy Back Opportunity</label>
        <locationX>2866</locationX>
        <locationY>5340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_AH_RL_or_Buy_Back</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Affordable Housing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Buy Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Agreement_with_Accommodation</targetReference>
            </connector>
            <label>Opportunity is AH RL or Buy Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity_Owner_Change</name>
        <label>Check For Opportunity Owner Change</label>
        <locationX>2052</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Check_for_Under_Offer_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Custom_Notification_Id</targetReference>
            </connector>
            <label>Opportunity Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_pod_assignment</name>
        <label>check for pod assignment</label>
        <locationX>3086</locationX>
        <locationY>3144</locationY>
        <defaultConnector>
            <targetReference>HC_Custom_Notification_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user_having_pod_hub_region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Pod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Hub__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountRecord</targetReference>
            </connector>
            <label>user having pod hub region</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_RL_Opp_and_Waitlist_Status</name>
        <label>Check For RL Opp and Waitlist Status</label>
        <locationX>6430</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RL_with_Req_Waitlist_Status_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Record_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waitlist_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RL_Opp_to_No_response</targetReference>
            </connector>
            <label>RL with Req Waitlist Status Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Under_Offer_Opportunity</name>
        <label>Check for Under Offer Opportunity</label>
        <locationX>2052</locationX>
        <locationY>1224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_Under_Offer_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Offer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buy_Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Changed Under Offer Opportunity</label>
        </rules>
        <rules>
            <name>Opp_StageName_ClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RLAH_or_HC</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Opp_StageName_ClosedWon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Funding_Source</name>
        <label>Check Funding Source</label>
        <locationX>1832</locationX>
        <locationY>1680</locationY>
        <defaultConnector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HACC_PYP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HACC-PYP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_HACC</targetReference>
            </connector>
            <label>HACC-PYP</label>
        </rules>
        <rules>
            <name>Partner_organisation_Self_Funded_CHSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Organisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self Funded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_CHSP</targetReference>
            </connector>
            <label>Partner organisation, Self Funded, CHSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HC_Queue_members_are_not_null</name>
        <label>Check HC Queue members are not null</label>
        <locationX>3086</locationX>
        <locationY>4608</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Queue_are_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HCGroupMemberId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Task_for_HC_Queue</targetReference>
            </connector>
            <label>Check for Queue are not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Account_Is_Portal_User_or_Not</name>
        <label>Check If Account Is Portal User or Not</label>
        <locationX>7156</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Already_Portal_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Omnistudio_User_Permission_Set</targetReference>
            </connector>
            <label>Account is Already Portal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Service_Agreement_Exists</name>
        <label>Check if Service Agreement Exists</label>
        <locationX>5110</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Agreement_Exists_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Service_Agreement_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>owa</targetReference>
            </connector>
            <label>Service Agreement does not Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Service_Agreement_is_there_or_Not</name>
        <label>Check If Service Agreement is there or Not</label>
        <locationX>2668</locationX>
        <locationY>5556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Agreement_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Date_Of_SA</targetReference>
            </connector>
            <label>Service Agreement is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_There_is_any_ACR</name>
        <label>Check if There is any ACR</label>
        <locationX>1106</locationX>
        <locationY>2196</locationY>
        <defaultConnector>
            <targetReference>Create_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACR_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingACRRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_ACR</targetReference>
            </connector>
            <label>ACR is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_occupancy_of_accommodation</name>
        <label>check occupancy of accommodation</label>
        <locationX>8806</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>update_Accommodation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Occupied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accommodation__r.maica_cc__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Occupied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Occupied?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the opportunity is closed won or not</description>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>2052</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>GetRelatedOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Closed_won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Documents</targetReference>
            </connector>
            <label>Check Closed won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set_Assignment</name>
        <label>Check Permission Set Assignment</label>
        <locationX>6958</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_set_Assignment_is_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment_Of_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_User_Id_Of_Account.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Permission set Assignment is Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_RecordType_of_Opp</name>
        <label>check RecordType of Opp</label>
        <locationX>1106</locationX>
        <locationY>3252</locationY>
        <defaultConnector>
            <targetReference>Update_User_Created_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement Living Read Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Portal_created_active</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_RL_Client</targetReference>
            </connector>
            <label>RL</label>
        </rules>
        <rules>
            <name>AH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affordable Housing Read Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Portal_created_active</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_to_AH_Client</targetReference>
            </connector>
            <label>AH</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkUserIsPresentorNot</name>
        <label>checkUserIsPresentorNot</label>
        <locationX>2932</locationX>
        <locationY>3468</locationY>
        <defaultConnector>
            <targetReference>HC_Custom_Notification_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkVarIdforUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_resource_record.maica_cc__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_resource_record.maica_cc__User__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_to_User</targetReference>
            </connector>
            <label>checkVarIdforUser</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_follow_up_tasks</name>
        <label>create follow-up tasks</label>
        <locationX>7750</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_a_follow_up_task_30_days_after_the_Opportunity_creation_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Record_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Client_Follow_Up</targetReference>
            </connector>
            <label>create a follow-up task 30 days after the Opportunity creation date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Runs</name>
        <label>Flow Runs</label>
        <locationX>3251</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_Run_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Flow_Status.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Stage</targetReference>
            </connector>
            <label>Flow Run Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_AC_1_create_follow_up_tasks</name>
        <label>For AC 1 create follow-up tasks</label>
        <locationX>8278</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_AC_1_create_a_follow_up_task_30_days_after_the_Opportunity_creation_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Record_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ThirtyDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AC_1_Get_Queue_Client_Follow_Up</targetReference>
            </connector>
            <label>For AC 1 create a follow-up task 30 days after the Opportunity creation date</label>
        </rules>
    </decisions>
    <decisions>
        <name>HC_Account_Is_Portal_User</name>
        <label>HC_Account_Is_Portal_User</label>
        <locationX>3086</locationX>
        <locationY>2280</locationY>
        <defaultConnector>
            <targetReference>check_for_pod_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HC_Not_Already_Portal_User</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.IsCustomerPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>noemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HC_Get_User_Profile</targetReference>
            </connector>
            <label>HC_Not_Already_Portal_User</label>
        </rules>
    </decisions>
    <decisions>
        <name>HC_Check_if_There_is_any_ACR</name>
        <label>HC_Check if There is any ACR</label>
        <locationX>3086</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>HC_Create_Household_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HC_ACR_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingACRRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HC_Delete_Existing_ACR</targetReference>
            </connector>
            <label>HC_ACR is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_for_Notification_Recipients</name>
        <label>Null Check for Notification Recipients</label>
        <locationX>182</locationX>
        <locationY>2172</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Null_Check_for_Notification_Recipients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalAndARMemberIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_the_Team</targetReference>
            </connector>
            <label>Outcome 1 of Null Check for Notification Recipients</label>
        </rules>
    </decisions>
    <decisions>
        <name>RLAH_or_HC</name>
        <label>RLAH or HC</label>
        <locationX>2866</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Check_For_AH_RL_and_Buy_Back_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RLAH</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement_Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affordable_Housing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affordable_Housing_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement_Living_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy Back Read Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__r.maica_cc__Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuyBackOrNot</targetReference>
            </connector>
            <label>RLAH</label>
        </rules>
        <rules>
            <name>HC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home_Care_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buy_Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buy_Back_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HC_Get_RecordType_of_Household_Account</targetReference>
            </connector>
            <label>HC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ACRRoleValues</name>
        <dataType>String</dataType>
        <expression>&apos;Primary;Resident&apos;</expression>
    </formulas>
    <formulas>
        <name>AliasForCommunityUser</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Account.FirstName},4) + LEFT({!$Record.Account.LastName},4)</expression>
    </formulas>
    <formulas>
        <name>BodyforNotification</name>
        <dataType>String</dataType>
        <expression>&apos;The &apos; +  {!$Record.Accommodation__r.Name} + &apos; - &apos; + {!$Record.Accommodation__r.maica_cc__Location__r.Name} + &apos; is currently under offer , Please review this opportunity for more information :  &apos;+{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>CommaSeperatedOpportunityFundingTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!AllOpportunityFundingTypes}),
    TEXT({!LoopThroughEachOpportunity.Funding_Type__c}),
    IF(
        CONTAINS({!AllOpportunityFundingTypes}, TEXT({!LoopThroughEachOpportunity.Funding_Type__c})),
        {!AllOpportunityFundingTypes},
        {!AllOpportunityFundingTypes} &amp; &quot;, &quot; &amp; TEXT({!LoopThroughEachOpportunity.Funding_Type__c})
    )
)</expression>
    </formulas>
    <formulas>
        <name>CreatedTimeFromDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>Descriptionformulatexttemplate</name>
        <dataType>String</dataType>
        <expression>&apos;Dear Client Services Team Member,&apos;+
BR()+
&apos;This is a reminder to follow up with the client regarding the New opportunity. Please ensure timely follow-ups to maintain client&apos;+
BR()+
&apos;engagement and progress the opportunity&apos;+ 
BR()+
&apos;Follow-Up Actions:&apos;+
BR()+
&apos;1. Send an Email: Use the email template provided to reach out to the client.&apos;+
BR()+
&apos;2. Make a Call: Contact the client using the provided phone number.&apos;+
BR()+
&apos;3. Schedule an Online Appointment: Arrange a video conference or in-person meeting with the client.&apos;+
BR()+
&apos;Contact Information:&apos;+
BR()+ 
&apos;Client Email:&apos;+&apos; &apos;+{!$Record.Account.PersonEmail}+
BR()+
&apos;Client Phone Number:&apos;+&apos; &apos;+{!$Record.Account.Phone}+
BR()+
&apos;Opportunity record ID -&apos;+ LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!$Record.Id}+
BR()</expression>
    </formulas>
    <formulas>
        <name>FlowRunningDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>FollowupTasktobecreated30dayspriortotheWaitingforapackagedate</name>
        <dataType>Date</dataType>
        <expression>CASE(
  TEXT({!$Record.Waiting_for_a_package__c}),
  &quot;1 month&quot;, DATEVALUE({!$Record.CreatedDate}) + 0,
  &quot;3 months&quot;, DATEVALUE({!$Record.CreatedDate}) + 60,
  &quot;6 months&quot;, DATEVALUE({!$Record.CreatedDate}) + 150,
  &quot;9 months&quot;, DATEVALUE({!$Record.CreatedDate}) + 240,
  &quot;12 months&quot;, DATEVALUE({!$Record.CreatedDate}) + 335,
  BLANKVALUE(NULL, NULL)
)</expression>
    </formulas>
    <formulas>
        <name>HC_ACRRoleValues</name>
        <dataType>String</dataType>
        <expression>&apos;Primary&apos;</expression>
    </formulas>
    <formulas>
        <name>HC_TaskBodyDescription</name>
        <dataType>String</dataType>
        <expression>&apos;New Onboarding for&apos;+&apos; : &apos;+{!$Record.Account.FirstName}+&apos; &apos;+{!$Record.Account.LastName} + &apos; &amp; &apos; + {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>HC_TaskTitleSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Home Care Onboarding for&apos;+&apos; : &apos;+{!$Record.Account.FirstName}+&apos; &apos;+{!$Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>householdname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.FirstName}+&apos; &apos;+&apos;Household&apos;</expression>
    </formulas>
    <formulas>
        <name>LinkOpp</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>LinkRelatedAcc</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; {!$Record.Account.Id}</expression>
    </formulas>
    <formulas>
        <name>MoveInDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Record.Move_in_date__c})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!$Record.Move_in_date__c})) &amp; &quot;/&quot; &amp; TEXT(YEAR({!$Record.Move_in_date__c}))</expression>
    </formulas>
    <formulas>
        <name>NickNameForCommunityUser</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Account.FirstName},4) + LEFT({!$Record.Account.LastName},4) + 
TEXT(DAY(DATEVALUE({!$Record.CreatedDate}))) + &quot;/&quot;  + TEXT(MONTH(DATEVALUE({!$Record.CreatedDate})))
+ &quot;/&quot; + TEXT(YEAR(DATEVALUE({!$Record.CreatedDate})) )+ &quot; &quot; + MID({!CreatedTimeFromDateTime},12,8)</expression>
    </formulas>
    <formulas>
        <name>notificationSub</name>
        <dataType>String</dataType>
        <expression>{!$Record.Accommodation__r.Name}+ &apos;-&apos; +{!$Record.Accommodation__r.maica_cc__Location__r.Name} +&apos; Under Offer&apos;</expression>
    </formulas>
    <formulas>
        <name>OwnerChangeMessage</name>
        <dataType>String</dataType>
        <expression>&apos;An Opportunity is now assigned to you. Please check the Opportunity record for more details.&apos;</expression>
    </formulas>
    <formulas>
        <name>ownName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.FirstName}&amp;IF({!$Record.Owner.MiddleName}&lt;&gt;&apos;&apos;,&apos; &apos;&amp;{!$Record.Owner.MiddleName},&apos;&apos;)&amp;&apos; &apos;&amp;{!$Record.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <description>SubjectOfEmail</description>
        <name>SubjectOfEmail</name>
        <dataType>String</dataType>
        <expression>&apos;Initiate Onboarding process for &apos;+ {!$Record.Parent_Account_Name__c}</expression>
    </formulas>
    <formulas>
        <name>TaskcreationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>ThirtyDays</name>
        <dataType>Date</dataType>
        <expression>TODAY()-30</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!GetUser.Id}),
    {!$Record.Account.PersonEmail},
    {!$Record.Account.PersonEmail} &amp; {!$Record.Account.mecwacare_Client_ID__c}
)</expression>
    </formulas>
    <formulas>
        <name>userNameHC</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!GetUserHC.Id}),
    {!$Record.Account.PersonEmail},
    {!$Record.Account.PersonEmail} &amp; {!$Record.Account.mecwacare_Client_ID__c}
)</expression>
    </formulas>
    <interviewLabel>MC_EmailMessageBeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC_OpportunityAfterSave</label>
    <loops>
        <name>Legal_and_AR_Member_Loop</name>
        <label>Legal and AR Member Loop</label>
        <locationX>182</locationX>
        <locationY>1764</locationY>
        <collectionReference>Get_Legal_Team_And_AR_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Team_Ids_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accommodation_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughEachOpportunity</name>
        <label>LoopThroughEachOpportunity</label>
        <locationX>2052</locationX>
        <locationY>708</locationY>
        <collectionReference>GetRelatedOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValuetoVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountField</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AC_1_Create_Task</name>
        <label>AC-1 Create Task</label>
        <locationX>8146</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskcreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descriptionformulatexttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AC_1_Get_Queue_Client_Follow_Up.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Account_Contact_Relationship</name>
        <label>Account Contact Relationship</label>
        <locationX>1106</locationX>
        <locationY>2712</locationY>
        <connector>
            <targetReference>Get_User_Profile</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimaryMember</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>ACRRoleValues</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Log_Ex</name>
        <label>Copy 1 of Log Ex</label>
        <locationX>1546</locationX>
        <locationY>3144</locationY>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Log_Excep</name>
        <label>Copy 1 of Log Excep</label>
        <locationX>1986</locationX>
        <locationY>1872</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_for_HC_Queue</name>
        <label>Create a Task for HC Queue</label>
        <locationX>2690</locationX>
        <locationY>4716</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>HC_Notification_to_Queue_Member</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_Create_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>HC_TaskBodyDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>HC_TaskTitleSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Home Care Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <description>R1DEV-100</description>
        <name>Create_Community_User</name>
        <label>Create_Community_User</label>
        <locationX>1106</locationX>
        <locationY>3036</locationY>
        <assignRecordIdToReference>CommunityUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Portal_created_active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Log_Ex</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasForCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>NickNameForCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_AU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>Get_User_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Australia/Melbourne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Household_Account</name>
        <label>Create Household Account</label>
        <locationX>1106</locationX>
        <locationY>2496</locationY>
        <connector>
            <targetReference>Create_Party_Relationship_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>householdname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType_of_Household_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Party Relationship Group</description>
        <name>Create_Party_Relationship_Group</name>
        <label>Create Party Relationship Group</label>
        <locationX>1106</locationX>
        <locationY>2604</locationY>
        <connector>
            <targetReference>Account_Contact_Relationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>householdname</elementReference>
            </value>
        </inputAssignments>
        <object>PartyRelationshipGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>6826</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>Get_User_Id_Of_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Omnistudio_User_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Task</name>
        <label>create Task</label>
        <locationX>7618</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskcreationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descriptionformulatexttemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_Client_Follow_Up.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>HC_Account_Contact_Relationship</name>
        <label>HC_Account Contact Relationship</label>
        <locationX>3086</locationX>
        <locationY>2172</locationY>
        <connector>
            <targetReference>HC_Account_Is_Portal_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HC_Create_Household_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimaryMember</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>HC_ACRRoleValues</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>HC_Create_Community_User</name>
        <label>HC_Create_Community_User</label>
        <locationX>2822</locationX>
        <locationY>2604</locationY>
        <assignRecordIdToReference>CommunityUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Hc_Portal_created_active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HC_Log_Ex</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasForCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>NickNameForCommunityUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_AU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>HC_Get_User_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>Australia/Melbourne</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>userNameHC</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>HC_Create_Household_Account</name>
        <label>HC_Create Household Account</label>
        <locationX>3086</locationX>
        <locationY>1956</locationY>
        <connector>
            <targetReference>HC_Create_Party_Relationship_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>householdname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>HC_Get_RecordType_of_Household_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Party Relationship Group</description>
        <name>HC_Create_Party_Relationship_Group</name>
        <label>HC_Create Party Relationship Group</label>
        <locationX>3086</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>HC_Account_Contact_Relationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>HC_Create_Household_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>householdname</elementReference>
            </value>
        </inputAssignments>
        <object>PartyRelationshipGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>HC_Log_Ex</name>
        <label>HC_Log Ex</label>
        <locationX>3086</locationX>
        <locationY>2712</locationY>
        <connector>
            <targetReference>HC_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Ex</name>
        <label>Log Ex</label>
        <locationX>578</locationX>
        <locationY>2172</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Excep1</name>
        <label>Log Excep</label>
        <locationX>2250</locationX>
        <locationY>1656</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notification_Error_Log</name>
        <label>Notification Error Log</label>
        <locationX>2954</locationX>
        <locationY>4932</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_Create_Error_Log</name>
        <label>Task Create Error Log</label>
        <locationX>3218</locationX>
        <locationY>4824</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Mecwa_ExceptionLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_ACR</name>
        <label>Delete Existing ACR</label>
        <locationX>974</locationX>
        <locationY>2304</locationY>
        <connector>
            <targetReference>Create_Household_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingACRRecordId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
    </recordDeletes>
    <recordDeletes>
        <name>HC_Delete_Existing_ACR</name>
        <label>HC_Delete Existing ACR</label>
        <locationX>2954</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>HC_Create_Household_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingACRRecordId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
    </recordDeletes>
    <recordLookups>
        <name>AC_1_Get_Queue_Client_Follow_Up</name>
        <label>AC -1 Get Queue Client Follow Up</label>
        <locationX>8146</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AC_1_Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intake_and_Engagement_Client_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Check_Flow_Status</name>
        <label>Check Flow Status</label>
        <locationX>3251</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Runs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mecwa_flow_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Custom_Notification_Id</name>
        <label>Copy 1 of Custom Notification Id</label>
        <locationX>1920</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Owner_Id_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Owner_Change_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_Enhanced_letterhead</name>
        <label>Copy 1 of get Enhanced letterhead</label>
        <locationX>4978</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_3business_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MC_EmailLetterHead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EnhancedLetterhead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Notification_Id</name>
        <label>Custom Notification Id</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Legal_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigning_a_Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related Accounts documents from Opportunity</description>
        <name>Get_Acc_Records</name>
        <label>Get Acc Records</label>
        <locationX>1832</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Careplan_Transform</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AR_Team_Public_Group</name>
        <label>Get AR Team Public Group</label>
        <locationX>182</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Legal_Team_And_AR_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AR_Team_PublicGroup</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Concierge_Queue_User_Email_Template</name>
        <label>Get_Concierge_Queue_User_Email_Template</label>
        <locationX>3086</locationX>
        <locationY>4068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MC_Concierge_user_Email_Notification_For_Onboarding_1745487544652</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CP_Documents</name>
        <label>Get CP Documents</label>
        <locationX>1832</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Collection_Variable_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>Careplan_Transform</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Careplan</stringValue>
            </value>
        </filters>
        <filters>
            <field>FileExtension</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email</name>
        <label>Get Email</label>
        <locationX>1832</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>1832</locationX>
        <locationY>1464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Template_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerOnboarding3_1759226692252</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_2</name>
        <label>Get Email Template 2</label>
        <locationX>1832</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Funding_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerOnboarding2_1759225119452</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Enhanced_letterhead</name>
        <label>get Enhanced letterhead</label>
        <locationX>1458</locationX>
        <locationY>3960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_ToVillageManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MC_EmailLetterHead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EnhancedLetterhead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_ACR</name>
        <label>Get Existing ACR</label>
        <locationX>1106</locationX>
        <locationY>2088</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_There_is_any_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ExistingACRRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Public_Group</name>
        <label>Get Legal Public Group</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AR_Team_Public_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal_Team_PublicGroup</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Team_And_AR_Members</name>
        <label>Get Legal Team And AR Members</label>
        <locationX>182</locationX>
        <locationY>1656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_and_AR_Member_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Legal_Public_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_AR_Team_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Omnistudio_User_Permission_Set</name>
        <label>Get Omnistudio User Permission Set</label>
        <locationX>6958</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_Of_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OmniStudioExecution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Documents from Opportunity</description>
        <name>Get_Opp_Documents</name>
        <label>Get Opp Documents</label>
        <locationX>1832</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Acc_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Wide_Add</name>
        <label>Get Org Wide Add</label>
        <locationX>1458</locationX>
        <locationY>3852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Enhanced_letterhead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment_Of_User</name>
        <label>Get Permission Set Assignment Of User</label>
        <locationX>6958</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Id_Of_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Omnistudio_User_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Client_Follow_Up</name>
        <label>Get Queue Client Follow Up</label>
        <locationX>7618</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intake_and_Engagement_Client_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get RecordType of Household Account</description>
        <name>Get_RecordType_of_Household_Account</name>
        <label>Get RecordType of Household Account</label>
        <locationX>1106</locationX>
        <locationY>1980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_resource_record</name>
        <label>get resource record</label>
        <locationX>2932</locationX>
        <locationY>3360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkUserIsPresentorNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>maica_cc__User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Pod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hub__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Hub__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>maica_cc__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Service Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>maica_cc__Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Documents</name>
        <label>Get SA Documents</label>
        <locationX>1832</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CP_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>Service_Agreement_Transform</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>FileExtension</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Agreement_with_Accommodation</name>
        <label>Get Service Agreement with Accommodation</label>
        <locationX>2668</locationX>
        <locationY>5448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Service_Agreement_is_there_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accommodation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Accommodation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>maica_cc__End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>maica_cc__Service_Agreement__c</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>maica_cc__End_Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_Of_Account</name>
        <label>Get User Id Of Account</label>
        <locationX>6958</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment_Of_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>R1DEV-100</description>
        <name>Get_User_Profile</name>
        <label>Get_User_Profile</label>
        <locationX>1106</locationX>
        <locationY>2820</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mecwa Customer Community Plus Login Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>2932</locationX>
        <locationY>3252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_resource_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Pod__c</queriedFields>
        <queriedFields>Hub__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedOpportunity</name>
        <label>GetRelatedOpportunity</label>
        <locationX>2052</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughEachOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>1106</locationX>
        <locationY>2928</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserHC</name>
        <label>GetUserHC</label>
        <locationX>2822</locationX>
        <locationY>2496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Create_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HC_Get_User_Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HC_Custom_Notification_Id</name>
        <label>HC Custom Notification Id</label>
        <locationX>3086</locationX>
        <locationY>3960</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Concierge_Queue_User_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigning_a_Task_To_Queue_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HC_Get_Existing_ACR</name>
        <label>HC_Get Existing ACR</label>
        <locationX>3086</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Check_if_There_is_any_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>ExistingACRRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>HC_Get_Onboarding_Queue_Member</name>
        <label>HC_Get_Onboarding_Queue Member</label>
        <locationX>3086</locationX>
        <locationY>4392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Add_team_Ids_to_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HC_getPublicGroup_Concierge.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HC_Get_Queue</name>
        <label>HC Get Queue</label>
        <locationX>3086</locationX>
        <locationY>4176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_getPublicGroup_Concierge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Care_Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get RecordType of Household Account</description>
        <name>HC_Get_RecordType_of_Household_Account</name>
        <label>HC Get RecordType of Household Account</label>
        <locationX>3086</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Get_Existing_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>R1DEV-100</description>
        <name>HC_Get_User_Profile</name>
        <label>HC_Get_User_Profile</label>
        <locationX>2822</locationX>
        <locationY>2388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserHC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mecwa Customer Community Plus Login Profile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HC_getPublicGroup_Concierge</name>
        <label>HC_getPublicGroup_Concierge</label>
        <locationX>3086</locationX>
        <locationY>4284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HC_Get_Onboarding_Queue_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HC_Onboarding_Concierge_Public_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Hc_Portal_created_active</name>
        <label>Hc_Portal created active</label>
        <locationX>2822</locationX>
        <locationY>2712</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_pod_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>owa</name>
        <label>owa</label>
        <locationX>4978</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_emailAdress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Portal_created_active</name>
        <label>Portal created active</label>
        <locationX>1106</locationX>
        <locationY>3144</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_RecordType_of_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Accommodation</name>
        <label>update Accommodation</label>
        <locationX>8938</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Accommodation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>maica_cc__Status__c</field>
            <value>
                <stringValue>Occupied</stringValue>
            </value>
        </inputAssignments>
        <object>maica_cc__Accommodation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accommodation_Status</name>
        <label>Update Accommodation Status</label>
        <locationX>182</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>Null_Check_for_Notification_Recipients</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Ex</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>maica_cc__Status__c</field>
            <value>
                <stringValue>Under Offer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Accommodation__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_with_Form_Filled</name>
        <label>Update Account with Form Filled</label>
        <locationX>1458</locationX>
        <locationY>3744</locationY>
        <connector>
            <targetReference>Get_Org_Wide_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Form_Filled__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AH_Opp_to_No_response</name>
        <label>Update AH Opp to No response</label>
        <locationX>5770</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Waitlist_Status__c</field>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Last_Notification_sent</name>
        <label>update Last Notification sent</label>
        <locationX>1458</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>Calculate_Date_Action_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Excep1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Last_Notification_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_5</name>
        <label>Update Business Days</label>
        <locationX>1458</locationX>
        <locationY>1764</locationY>
        <connector>
            <targetReference>Account_Is_Portal_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Log_Excep</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>businessdays__c</field>
            <value>
                <elementReference>Businessdaysoutput</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RL_Opp_to_No_response</name>
        <label>Update RL Opp to No response</label>
        <locationX>6298</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Waitlist_Status__c</field>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Agreement</name>
        <label>Update Service Agreement</label>
        <locationX>2536</locationX>
        <locationY>5772</locationY>
        <connector>
            <targetReference>Service_Agreement_Closed_Mail</targetReference>
        </connector>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Created_Field</name>
        <label>Update User Created Field</label>
        <locationX>1106</locationX>
        <locationY>3552</locationY>
        <connector>
            <targetReference>Update_Account_with_Form_Filled</targetReference>
        </connector>
        <inputAssignments>
            <field>User_Created_For_Opportunity__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountField</name>
        <label>UpdateAccountField</label>
        <locationX>2052</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Check_For_Opportunity_Owner_Change</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_error_for_account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funding_Type__c</field>
            <value>
                <elementReference>AllOpportunityFundingTypes</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccountOwner</name>
        <label>updateAccountOwner</label>
        <locationX>2800</locationX>
        <locationY>3684</locationY>
        <connector>
            <targetReference>HC_Custom_Notification_Id</targetReference>
        </connector>
        <inputReference>varAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>6001</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Flow_Status</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>create_service_agreement_reminder</name>
            <connector>
                <targetReference>callServiceAgreementSubflow</targetReference>
            </connector>
            <label>create service agreement reminder</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Last_Notification_Sent__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>businessdays3</name>
            <connector>
                <targetReference>Check_if_Service_Agreement_Exists</targetReference>
            </connector>
            <label>businessdays3</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>businessdays__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>WaitListManagement_Path</name>
            <connector>
                <targetReference>WaitList_Management</targetReference>
            </connector>
            <label>WaitListManagement Path</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>WaitList_management_Date_Update__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>AH_Update_to_No_Response_path</name>
            <connector>
                <targetReference>Check_For_AH_Opp_and_Waitlist_Status</targetReference>
            </connector>
            <label>AH Update to No Response path</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>WaitList_Status_Updated_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>RL_Update_to_No_response</name>
            <connector>
                <targetReference>Check_For_RL_Opp_and_Waitlist_Status</targetReference>
            </connector>
            <label>RL Update to No response</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>WaitList_Status_Updated_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Creating_Permission_Set_Assignment_For_User</name>
            <connector>
                <targetReference>Check_If_Account_Is_Portal_User_or_Not</targetReference>
            </connector>
            <label>Creating Permission Set Assignment For User</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>User_Created_For_Opportunity__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Follow_up_tasks_on_opportunity</name>
            <connector>
                <targetReference>create_follow_up_tasks</targetReference>
            </connector>
            <label>Follow-up tasks on opportunity</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Waiting_for_a_package_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>AC_1_Follow_up_task</name>
            <connector>
                <targetReference>For_AC_1_create_follow_up_tasks</targetReference>
            </connector>
            <label>AC-1 Follow up task</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Occupy_Accommodation</name>
            <connector>
                <targetReference>check_Closed</targetReference>
            </connector>
            <label>Occupy Accommodation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Move_in_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>callServiceAgreementSubflow</name>
        <label>callServiceAgreementSubflow</label>
        <locationX>4714</locationX>
        <locationY>276</locationY>
        <flowName>MC_CreateServiceAgreementSubflow</flowName>
        <inputAssignments>
            <name>opprec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>WaitList_Management</name>
        <label>WaitList Management</label>
        <locationX>5506</locationX>
        <locationY>276</locationY>
        <flowName>MC_OpportunityWaitlistManagementSubFlow</flowName>
        <inputAssignments>
            <name>InputOpportunityRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Email Body</description>
        <name>BodyForVillageManagerClosedWonOpp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!get_Enhanced_letterhead.LetterheadHeader}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Dear {!$Record.Accommodation__r.Manager_Name__c},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We are pleased to inform you that the Opportunity &quot;&lt;a href=&quot;{!LinkOpp}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&quot; associated with the property &quot;{!$Record.Accommodation__r.Name}&quot; has been successfully closed as Won. The Following user/s have signed the Residency agreement and are awaiting final settlement on : {!MoveInDate}, Please initiate the Onboarding process for the following user,&lt;/p&gt;&lt;p&gt;i. &lt;a href=&quot;{!LinkRelatedAcc}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Parent_Account_Name__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!get_Enhanced_letterhead.LetterheadFooter}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Description</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Client Services Team Member,
This is a reminder to follow up with the client regarding the New opportunity. Please ensure timely follow-ups to maintain client engagement and progress the opportunity 
Follow-Up Actions:
1. Send an Email: Use the email template provided to reach out to the client.
2. Make a Call: Contact the client using the provided phone number. 
3. Schedule an Online Appointment: Arrange a video conference or in-person meeting with the client.
Contact Information: 
Client Email: {!$Record.Client_Email__c} 
Client Phone Number: {!$Record.Account.Phone} 
Opportunity record ID - {!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Copy_1_of_get_Enhanced_letterhead.LetterheadHeader}&lt;/p&gt;&lt;p&gt;Hi {!ownName},&lt;/p&gt;&lt;p&gt;Congratulations on closing the opportunity!&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please create a service agreement record by clicking the &quot;Service Agreement&quot; button in the following Opportunity. This step is crucial to initiate the Billing Process for the Customer&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Opportunity Name : &lt;a href=&quot;{!LinkOpp}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Client Name : {!$Record.Parent_Account_Name__c}&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Copy_1_of_get_Enhanced_letterhead.LetterheadFooter}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Follow-Up with Client</text>
    </textTemplates>
    <textTemplates>
        <name>subjectImage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>🔔 Action Required: Create Service Record for Closed Opportunity</text>
    </textTemplates>
    <transforms>
        <name>Careplan_Transform</name>
        <label>Careplan Transform</label>
        <locationX>1832</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Service_Agreement_Transform</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Acc_Records[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Service_Agreement_Transform</name>
        <label>Service Agreement Transform</label>
        <locationX>1832</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Get_SA_Documents</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Documents[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AllOpportunityFundingTypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Businessdays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1440.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Businessdaysoutput</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CombinedCollectionIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunityUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CommunityUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingACRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>ExistingACRRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HC_AccountIdForOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HC_TaskId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>HCGroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalAndARMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdOpportunity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>maica_cc__Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varServiceAgreementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
