oppbefsave.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_up_Min_Rate</name>
        <label>Add up Min Rate</label>
        <locationX>600</locationX>
        <locationY>5411</locationY>
        <assignmentItems>
            <assignToReference>totalMinRate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_DMF_Rate_Schedule_loop.DMF_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_DMF_Rate_Schedule_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AH_Record_Type</name>
        <label>Assign AH  Record Type</label>
        <locationX>358</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AH_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date_12_months</name>
        <label>Assign date 12 months</label>
        <locationX>842</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate330</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_service_Provider_is_null_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date_3_months</name>
        <label>Assign date 3 months</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddatetime60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_service_Provider_is_null_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date_6_months</name>
        <label>Assign date 6 months</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate150</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_service_Provider_is_null_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_date_9_months</name>
        <label>Assign date 9 months</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate240</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_service_Provider_is_null_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DM_null</name>
        <label>Assign DMF null</label>
        <locationX>1062</locationX>
        <locationY>3995</locationY>
        <assignmentItems>
            <assignToReference>$Record.DMF_Calculation_Mode__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DMF_Partial_Year_Handling__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Resident_Capital_Gain__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Resident_Capital_Loss__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Minimum_DMF_Years_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Closing_For_DMF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Administrator</name>
        <label>Assign Funding Administrator</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Funding_Administrator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_package_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HC_Record_Type</name>
        <label>Assign HC  Record Type</label>
        <locationX>754</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HC_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Coming_From_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Min_rate</name>
        <label>assign Min rate</label>
        <locationX>776</locationX>
        <locationY>5303</locationY>
        <assignmentItems>
            <assignToReference>totalMinRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_DMF_Rate_Schedules.DMF_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_min_DMF_Rate_Total_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_null_to_funding</name>
        <label>Assign null to funding</label>
        <locationX>1722</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Funding__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_check_package_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Opp_Min_DMF_Rate</name>
        <label>assign Opp Min DMF Rate</label>
        <locationX>1062</locationX>
        <locationY>5879</locationY>
        <assignmentItems>
            <assignToReference>$Record.DMF_Minimum_Rate_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalMinRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHeck_CLosing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>1040</locationX>
        <locationY>8495</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Client_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Opportunity_Waitlist_Status_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RL_Record_Type</name>
        <label>Assign RL  Record Type</label>
        <locationX>94</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RL_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_COntentDocument_Ids</name>
        <label>Assign the COntentDocument Ids</label>
        <locationX>1150</locationX>
        <locationY>6503</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ContentDocumentLink_For_ContentDocumentId.ContentDocument.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentDocumentLink_For_ContentDocumentId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Status_to_New</name>
        <label>Assign the Status to New</label>
        <locationX>622</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Value_to_False</name>
        <label>Assign the Value to False</label>
        <locationX>1502</locationX>
        <locationY>6803</locationY>
        <assignmentItems>
            <assignToReference>VaribaleForAgreemntCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DocumentId_Titles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Value_to_True</name>
        <label>Assign the Value to True</label>
        <locationX>1590</locationX>
        <locationY>7127</locationY>
        <assignmentItems>
            <assignToReference>VaribaleForAgreemntCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DocumentId_Titles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Value_Update_For_Stage_Change</name>
        <label>Date Value Update For Stage Change</label>
        <locationX>1062</locationX>
        <locationY>9395</locationY>
        <assignmentItems>
            <assignToReference>$Record.WaitList_management_Date_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_to_add_Prefix_to_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Unchecking the “Try Before Buy” Checkbox should clear previously entered Trial Check In/Out dates, rechecking the checkbox should not retains old dates instead it should be reset.</description>
        <name>Make_Trial_Info_Null</name>
        <label>Make Trial Info Null</label>
        <locationX>1348</locationX>
        <locationY>2819</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trial_Check_in_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trial_Check_Out_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trial_Period_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Name_Assignment</name>
        <label>Opportunity Name Assignment</label>
        <locationX>1062</locationX>
        <locationY>9695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NamingConventionOpp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remain_False</name>
        <label>Remain False</label>
        <locationX>743</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rental__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Excluded_DMF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_provider_Assignment</name>
        <label>Service provider Assignment</label>
        <locationX>292</locationX>
        <locationY>1643</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_mecwacare_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Service_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>total_Min_rate</name>
        <label>total Min rate</label>
        <locationX>1040</locationX>
        <locationY>5195</locationY>
        <assignmentItems>
            <assignToReference>totalMinRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_min_DMF_Rate_Total_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign_date_12_months</name>
        <label>Update Assign date 12 months</label>
        <locationX>2074</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate330</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign_date_3_months</name>
        <label>Update Assign date 3 months</label>
        <locationX>1282</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddatetime60</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign_date_6_months</name>
        <label>Update Assign date 6 months</label>
        <locationX>1546</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate150</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign_date_9_months</name>
        <label>Update Assign date 9 months</label>
        <locationX>1810</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Waiting_for_a_package_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createddate240</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Name</name>
        <label>Update Opp Name</label>
        <locationX>380</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Name_1</name>
        <label>Update Opp Name 1</label>
        <locationX>644</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameValue1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_Name_2</name>
        <label>Update Opp Name 2</label>
        <locationX>908</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameValue2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Waitlist_Status_Date</name>
        <label>Update Waitlist Status Date</label>
        <locationX>1062</locationX>
        <locationY>8795</locationY>
        <assignmentItems>
            <assignToReference>$Record.WaitList_Status_Updated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Opp_Status_is_Not_AW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Waitlist_Status_Update_Value_to_Null</name>
        <label>Update Waitlist Status Update Value to Null</label>
        <locationX>1062</locationX>
        <locationY>9095</locationY>
        <assignmentItems>
            <assignToReference>$Record.WaitList_Status_Updated_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Stage_is_Changed</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RecordExists2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordExits1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Copy_2_of_Can_not_close</name>
        <label>Copy 2 of Can not close</label>
        <locationX>1590</locationX>
        <locationY>7511</locationY>
        <connector>
            <targetReference>Loop_the_agreements_Name</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Generate Agreement to be done prior closing</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Custom_Error_Message_3</name>
        <label>Error DMF Year field</label>
        <locationX>754</locationX>
        <locationY>4403</locationY>
        <customErrorMessages>
            <errorMessage>Please update Minimum DMF years value before closing the Opportunity</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>NDIS_number_Mandatory</name>
        <label>NDIS number Mandatory</label>
        <locationX>908</locationX>
        <locationY>8087</locationY>
        <connector>
            <targetReference>Get_ReadOnlyRecordType</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>NDIS number is mandatory</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Stop_Closed_Won</name>
        <label>Stop Closed Won</label>
        <locationX>1194</locationX>
        <locationY>4511</locationY>
        <customErrorMessages>
            <errorMessage>Please ensure {!$Record.Minimum_DMF_Years_Number__c} DMF Rate Schedule record available in the related list to Proceed</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CHeck_CLosing</name>
        <label>CHeck CLosing</label>
        <locationX>1194</locationX>
        <locationY>6071</locationY>
        <defaultConnector>
            <targetReference>Is_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_metadata_records</targetReference>
            </connector>
            <label>Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Closing_For_DMF</name>
        <label>Check Closing For DMF</label>
        <locationX>1194</locationX>
        <locationY>4187</locationY>
        <defaultConnector>
            <targetReference>if_DMF_Minimum_Year_Not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_DMF_Calculation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_DMF_Years</targetReference>
            </connector>
            <label>ClosedWon</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Condition_to_add_Prefix_to_Name</name>
        <label>Check Condition to add Prefix to Name</label>
        <locationX>1194</locationX>
        <locationY>9587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Opportunity_Prefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NamingConventionOpp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Try_Before_Buy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Name_Assignment</targetReference>
            </connector>
            <label>Add Opportunity Prefix</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_DMF_Years</name>
        <label>check DMF Years</label>
        <locationX>930</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>Is_DMF_Min_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_check_DMF_Years</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DMF_Maximum_Years__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_3</targetReference>
            </connector>
            <label>Outcome 1 of check DMF Years</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DocumentLink_present_in_Agreement_names</name>
        <label>Check DocumentLink present in Agreement names</label>
        <locationX>1722</locationX>
        <locationY>7019</locationY>
        <defaultConnector>
            <targetReference>Loop_DocumentId_Titles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_DocumentId_Titles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_the_agreements_Name.Agreement_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Value_to_True</targetReference>
            </connector>
            <label>Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Service_Request</name>
        <label>Check For Service Request</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Request_is_Rl</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RL_Record_Type</targetReference>
            </connector>
            <label>Service Request is Rl</label>
        </rules>
        <rules>
            <name>Service_Request_is_AH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affordable Housing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AH_Record_Type</targetReference>
            </connector>
            <label>Service Request is AH</label>
        </rules>
        <rules>
            <name>Service_Request_is_Other_Than_RL_or_AH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support at Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allied Health</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nursing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Support Groups</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HC_Record_Type</targetReference>
            </connector>
            <label>Service Request is Other Than RL or AH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Funding_Administrator_is_null</name>
        <label>Check Funding Administrator is null</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>check_package_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funding_Administrator_IS_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funding_Administrator__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Funding_Administrator</targetReference>
            </connector>
            <label>Funding Administrator IS NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Funding_Source</name>
        <label>Check Funding Source</label>
        <locationX>1634</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Assign_null_to_funding</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funding_Mandatory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block Funding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DVA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support at Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_check_package_time</targetReference>
            </connector>
            <label>Funding Mandatory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_agreement_is_generated_or_not</name>
        <label>Check if agreement is generated or not</label>
        <locationX>1502</locationX>
        <locationY>7403</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Can_not_close</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreemnt_is_Not_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VaribaleForAgreemntCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_the_agreements_Name</targetReference>
            </connector>
            <label>Agreemnt is Not there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Coming_From_Lead</name>
        <label>Check if Coming From Lead</label>
        <locationX>754</locationX>
        <locationY>2243</locationY>
        <defaultConnector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coming_From_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Converted_From_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_Status_to_New</targetReference>
            </connector>
            <label>Coming From Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opp_Status_is_Not_AW</name>
        <label>Check if Opp Status is Not AW</label>
        <locationX>1194</locationX>
        <locationY>8987</locationY>
        <defaultConnector>
            <targetReference>Check_if_Stage_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_Not_Awaiting_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waitlist_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waitlist_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Waitlist_Status_Update_Value_to_Null</targetReference>
            </connector>
            <label>Status Changed Not Awaiting response</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_is_new</name>
        <label>Check if Opportunity is new</label>
        <locationX>1194</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Funding_Source_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Funding_Administrator_is_null</targetReference>
            </connector>
            <label>Opportunity is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Opportunity_Waitlist_Status_is_Changed</name>
        <label>Check If Opportunity Waitlist Status is Changed to AW</label>
        <locationX>1194</locationX>
        <locationY>8687</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opp_Status_is_Not_AW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waitlist_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Waitlist_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Waitlist_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waitlist_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Waitlist_Status_Date</targetReference>
            </connector>
            <label>Waitlist Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_service_Provider_is_null_or_not</name>
        <label>Check if service Provider is null or not</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Check_For_Service_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retirement Living</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affordable Housing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Account_Record_Type</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stage_is_Changed</name>
        <label>Check if Stage is Changed</label>
        <locationX>1194</locationX>
        <locationY>9287</locationY>
        <defaultConnector>
            <targetReference>Check_Condition_to_add_Prefix_to_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed_to_WaitList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Value_Update_For_Stage_Change</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Changed to WaitList</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element checks if the location is neither Ballan nor the Pines</description>
        <name>Check_Location</name>
        <label>Check Location</label>
        <locationX>875</locationX>
        <locationY>3419</locationY>
        <defaultConnector>
            <targetReference>Is_Excluded_DMF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ballan_nor_The_Pines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remain_False</targetReference>
            </connector>
            <label>Ballan nor The Pines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_mecwacare_account_present_or_not</name>
        <label>Check mecwacare account present or not</label>
        <locationX>424</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Service_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>mecwacare_account_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_mecwacare_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_provider_Assignment</targetReference>
            </connector>
            <label>mecwacare account present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_package_time</name>
        <label>check package time</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_if_service_Provider_is_null_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date_3_months</targetReference>
            </connector>
            <label>3 month</label>
        </rules>
        <rules>
            <name>X6_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date_6_months</targetReference>
            </connector>
            <label>6 month</label>
        </rules>
        <rules>
            <name>X9_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9 months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date_9_months</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>9 month</label>
        </rules>
        <rules>
            <name>X12month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12 months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_date_12_months</targetReference>
            </connector>
            <label>12month</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if the rental checkbox is checked or not</description>
        <name>Check_Rental</name>
        <label>Check Rental</label>
        <locationX>1029</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>Is_Excluded_DMF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Rental__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Location</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element checks if the location and accommodation field has values or not</description>
        <name>Conditional_Requirements</name>
        <label>Conditional Requirements</label>
        <locationX>776</locationX>
        <locationY>2819</locationY>
        <defaultConnector>
            <targetReference>Location_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loc_Accom_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name</targetReference>
            </connector>
            <label>Loc&amp; Accom empty?</label>
        </rules>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name_1</targetReference>
            </connector>
            <label>not empty?</label>
        </rules>
        <rules>
            <name>accom_alone_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Accommodation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Name_2</targetReference>
            </connector>
            <label>accom alone empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Runs</name>
        <label>Flow Runs</label>
        <locationX>1854</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FlowRunYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Flow_Status.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Opportunity_is_new</targetReference>
            </connector>
            <label>Flow Run Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Funding_Source_Changed</name>
        <label>Funding Source Changed</label>
        <locationX>1810</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>update_check_package_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Funding_Source</targetReference>
            </connector>
            <label>Is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_DMF_Minimum_Year_Not_null</name>
        <label>if DMF Minimum Year Not null</label>
        <locationX>1194</locationX>
        <locationY>4979</locationY>
        <defaultConnector>
            <targetReference>if_min_DMF_Rate_Total_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_minimum_year_1</targetReference>
            </connector>
            <label>has value</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_min_DMF_Rate_Total_not_null</name>
        <label>if min DMF Rate Total  not null</label>
        <locationX>1194</locationX>
        <locationY>5771</locationY>
        <defaultConnector>
            <targetReference>CHeck_CLosing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_min_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalMinRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Opp_Min_DMF_Rate</targetReference>
            </connector>
            <label>Has min value</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_minimum_year_1</name>
        <label>if minimum year &gt;1</label>
        <locationX>908</locationX>
        <locationY>5087</locationY>
        <defaultConnector>
            <targetReference>if_min_DMF_Rate_Total_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DMF_Rate</targetReference>
            </connector>
            <label>greater than 1</label>
        </rules>
        <rules>
            <name>Min_yeat_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_DMF_Rate_Schedules</targetReference>
            </connector>
            <label>Min yeat 1</label>
        </rules>
        <rules>
            <name>DMF_Min_Year_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_DMF_Years_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>total_Min_rate</targetReference>
            </connector>
            <label>DMF Min Year =0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Closed_Won</name>
        <label>Is Closed Won</label>
        <locationX>1194</locationX>
        <locationY>7871</locationY>
        <defaultConnector>
            <targetReference>Check_If_Opportunity_Waitlist_Status_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDIS_Checklist</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DMF_Min_Year</name>
        <label>Is DMF &gt; = Min Year</label>
        <locationX>1106</locationX>
        <locationY>4403</locationY>
        <defaultConnector>
            <targetReference>Stop_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesEnough_DMF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DMF_Schedule_Record_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Minimum_DMF_Years_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_DMF_Minimum_Year_Not_null</targetReference>
            </connector>
            <label>YesEnough DMF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Excluded_DMF</name>
        <label>Is Excluded DMF</label>
        <locationX>1194</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>Check_Closing_For_DMF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Excluded_DMF</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exclude_DMF_Calculation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_DMF_Calculation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DM_null</targetReference>
            </connector>
            <label>Excluded DMF</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision element checks if the location is changed and it not empty</description>
        <name>Location_changed</name>
        <label>Location changed?</label>
        <locationX>1194</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>Is_Excluded_DMF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Rental</targetReference>
            </connector>
            <label>Location is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>checking funding type is NDIS and NDIS number on Account</description>
        <name>NDIS_Checklist</name>
        <label>NDIS Checklist</label>
        <locationX>1040</locationX>
        <locationY>7979</locationY>
        <defaultConnector>
            <targetReference>Get_ReadOnlyRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NDIS_Number_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.maica_cc__NDIS_Number__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Funding_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NDIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NDIS_number_Mandatory</targetReference>
            </connector>
            <label>NDIS Number is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decision element checks if the Try Before Buy checked or not</description>
        <name>Try_Before_Buy_check</name>
        <label>Try Before Buy check</label>
        <locationX>1194</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Location_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Try_Before_Buy_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Try_Before_Buy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conditional_Requirements</targetReference>
            </connector>
            <label>Try Before Buy checked?</label>
        </rules>
        <rules>
            <name>Try_Before_Buy_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Try_Before_Buy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Trial_Info_Null</targetReference>
            </connector>
            <label>Try Before Buy unchecked?</label>
        </rules>
    </decisions>
    <decisions>
        <name>update_check_package_time</name>
        <label>update check package time</label>
        <locationX>1810</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Try_Before_Buy_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_month_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign_date_3_months</targetReference>
            </connector>
            <label>3 month update</label>
        </rules>
        <rules>
            <name>X6_month_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign_date_6_months</targetReference>
            </connector>
            <label>6 month update</label>
        </rules>
        <rules>
            <name>X9_month_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign_date_9_months</targetReference>
            </connector>
            <label>9 month update</label>
        </rules>
        <rules>
            <name>X12_month_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Waiting_for_a_package__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign_date_12_months</targetReference>
            </connector>
            <label>12 month update</label>
        </rules>
    </decisions>
    <description>Trigger Before Save actions on Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckValue</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Location__r.Name}, &quot;Ballan&quot;) || CONTAINS({!$Record.Location__r.Name}, &quot;The Pines&quot;)</expression>
    </formulas>
    <formulas>
        <name>createddate150</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+150</expression>
    </formulas>
    <formulas>
        <name>createddate240</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+240</expression>
    </formulas>
    <formulas>
        <name>createddate330</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+330</expression>
    </formulas>
    <formulas>
        <name>createddatetime60</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+60</expression>
    </formulas>
    <formulas>
        <name>NameValue</name>
        <dataType>String</dataType>
        <expression>&quot;Trial - &quot; &amp; {!$Record.Account.FirstName} &amp;&quot; &quot;&amp;{!$Record.Account.MiddleName}&amp;&quot; &quot;&amp;{!$Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>NameValue1</name>
        <dataType>String</dataType>
        <expression>&quot;Trial - &quot; &amp; {!$Record.Account.FirstName} &amp;&quot; &quot;&amp;{!$Record.Account.MiddleName}&amp;&quot; &quot;&amp;{!$Record.Account.LastName}&amp; &quot; - &quot; &amp; {!$Record.Accommodation__r.Unit_Number__c} &amp; &quot; - &quot; &amp;  {!$Record.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NameValue2</name>
        <dataType>String</dataType>
        <expression>&quot;Trial - &quot; &amp; {!$Record.Account.FirstName} &amp;&quot; &quot;&amp;{!$Record.Account.MiddleName}&amp;&quot; &quot;&amp;{!$Record.Account.LastName}&amp; &quot; - &quot; &amp; {!$Record.Location__r.Name}</expression>
    </formulas>
    <formulas>
        <name>NamingConventionOpp</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Retirement_Living&quot;),
  {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName} &amp; &quot; - RL&quot; &amp;
  IF(
    NOT(ISBLANK({!$Record.Accommodation__r.Unit_Number__c})),
    &quot; - &quot; &amp; {!$Record.Accommodation__r.Unit_Number__c},
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Location__r.Name})),
    &quot; - &quot; &amp; {!$Record.Location__r.Name},
    &quot;&quot;
  ),
 
IF(
  CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Affordable_Housing&quot;),
  {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName} &amp; &quot; - AH&quot; &amp;
  IF(
    NOT(ISBLANK({!$Record.Accommodation__r.Unit_Number__c})),
    &quot; - &quot; &amp; {!$Record.Accommodation__r.Unit_Number__c},
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Location__r.Name})),
    &quot; - &quot; &amp; {!$Record.Location__r.Name},
    &quot;&quot;
  ),
 
IF(
  CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Buy_Back&quot;),
  &quot;Buy Back - &quot; &amp; {!$Record.Accommodation__r.Unit_Number__c} &amp; &quot; - &quot; &amp; {!$Record.Location__r.Name},
 IF(
AND(CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Home_Care&quot;),
NOT(ISBLANK(TEXT({!$Record.Funding_Type__c})))
),
{!$Record.Account.FirstName} &amp; &quot; &quot; &amp;  {!$Record.Account.LastName}&amp; &quot; - &quot; &amp; TEXT({!$Record.Funding_Type__c}),  
IF(
  CONTAINS({!$Record.RecordType.DeveloperName}, &quot;Home_Care&quot;),
  IF(
	ISPICKVAL({!$Record.Service_Request__c}, &quot;Support at Home&quot;), &quot;SAH - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
    IF(
      ISPICKVAL({!$Record.Service_Request__c}, &quot;Social Support Groups&quot;), &quot;SSG - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
      IF(
        ISPICKVAL({!$Record.Service_Request__c}, &quot;NDIS&quot;), &quot;NDIS - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
        IF(
          ISPICKVAL({!$Record.Service_Request__c}, &quot;Allied Health&quot;), &quot;AH - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
          IF(
            ISPICKVAL({!$Record.Service_Request__c}, &quot;Home Care&quot;), &quot;HC - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
            IF(
              ISPICKVAL({!$Record.Service_Request__c}, &quot;Nursing&quot;), &quot;NS - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
              IF(
                ISPICKVAL({!$Record.Service_Request__c}, &quot;Other&quot;), &quot;OS - &quot; &amp; {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName},
                {!$Record.Account.FirstName} &amp; &quot; &quot; &amp; {!$Record.Account.LastName}
              )
            )
          )
        )
      )
    )
  ),
 
&quot;&quot;
)))))</expression>
    </formulas>
    <formulas>
        <name>NewMinYear</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Minimum_DMF_Years_Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>MC_OpportunityBeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC_OpportunityBeforeSaveFieldUpdates</label>
    <loops>
        <name>get_DMF_Rate_Schedule_loop</name>
        <label>get DMF Rate Schedule loop</label>
        <locationX>512</locationX>
        <locationY>5303</locationY>
        <collectionReference>Get_DMF_Rate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_up_Min_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_min_DMF_Rate_Total_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ContentDocumentLink_For_ContentDocumentId</name>
        <label>Loop ContentDocumentLink For ContentDocumentId</label>
        <locationX>1062</locationX>
        <locationY>6395</locationY>
        <collectionReference>ContentDocumentLinkCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_COntentDocument_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_the_agreements_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DocumentId_Titles</name>
        <label>Loop DocumentId Titles</label>
        <locationX>1502</locationX>
        <locationY>6911</locationY>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_DocumentLink_present_in_Agreement_names</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_agreement_is_generated_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_the_agreements_Name</name>
        <label>Loop the agreements Name</label>
        <locationX>1062</locationX>
        <locationY>6695</locationY>
        <collectionReference>AgreementRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_Value_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Closed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Flow_Status</name>
        <label>Check_Flow_Status</label>
        <locationX>1854</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Runs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mecwa_flow_setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_DMF_Rate_Schedules</name>
        <label>Copy 2 of Get DMF Rate Schedules</label>
        <locationX>776</locationX>
        <locationY>5195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Min_rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DMF_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_DMF_Schedule__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AH_Record_Type</name>
        <label>Get AH Record Type</label>
        <locationX>358</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AH_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Affordable_Housing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Account_Record_Type</name>
        <label>Get Business Account Record Type</label>
        <locationX>424</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_mecwacare_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To get the custom metadata records</description>
        <name>Get_Custom_metadata_records</name>
        <label>Get Custom metadata records</label>
        <locationX>1062</locationX>
        <locationY>6179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Records_from_Content_Document_link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oppoortunity_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__r.Location_Common_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Rental__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Rental__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PVG_Property_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Accommodation__r.PVG_Property_Type__c</elementReference>
            </value>
        </filters>
        <object>mecwa_Agreement_Generation_Validation__mdt</object>
        <outputReference>AgreementRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agreement_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DMF_Rate</name>
        <label>Get DMF Rate Schedules</label>
        <locationX>512</locationX>
        <locationY>5195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_DMF_Rate_Schedule_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DMF_Rate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_DMF_Schedule__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HC_Record_Type</name>
        <label>Get HC Record Type</label>
        <locationX>754</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_HC_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Care</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_mecwacare_Account</name>
        <label>Get mecwacare Account</label>
        <locationX>424</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_mecwacare_account_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mecwacare</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Account_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ReadOnlyRecordType</name>
        <label>Get_ReadOnlyRecordType</label>
        <locationX>1040</locationX>
        <locationY>8279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mecwa_Object_Record_Type_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get_RecordType</label>
        <locationX>1040</locationX>
        <locationY>8387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ReadOnlyRecordType.Read_Only_Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RL_Record_Type</name>
        <label>Get RL Record Type</label>
        <locationX>94</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RL_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retirement_Living</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To check if there are any files attached to the Opportunity</description>
        <name>Get_the_Records_from_Content_Document_link</name>
        <label>Get the Records from Content Document Link</label>
        <locationX>1062</locationX>
        <locationY>6287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ContentDocumentLink_For_ContentDocumentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputReference>ContentDocumentLinkCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
    </recordLookups>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Flow_Status</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AgreementRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mecwa_Agreement_Generation_Validation__mdt</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EnvelopCOunt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hasrecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>totalMinRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VaribaleForAgreemntCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
